<div *ngIf="!photos.length">
  <div class="main-text">
    <h1>Status cat not found !</h1>
  </div>
</div>

<ol class="list-unstyled">
  <li *ngFor="let cols of rows" class="row no-gutters">
    <div *ngFor="let photo of cols" class="col-4">

      <!-- <div class="mx-auto" style="width: 500px;" appDarkenOnHoverDirective brightness="80"> -->
        <div class="mx-auto" style="width: 500px;">
        <app-card [title]="photo.description" ></app-card>

        <app-photo [url]="photo.url"></app-photo>


        <div class="text-center" style="background-color: #000000; color: white;">
          <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2"></i>{{ photo.likes }}
          <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2"></i>{{ photo.comments }}
        </div>
      </div>
      <br>
      <br>

    </div>
  </li>
</ol>


<!-- aqui entra o conteúdo -->